.collectHighlight-body {
  margin: 0;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column; 
}

.collectHighlight-body nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 60px;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
}

.collectHighlight-body nav img {
  height: 30px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.collectHighlight-body nav .btn-account {
  display: flex;
  margin-right: 2em;
  align-items: center;
}

.collectHighlight-body nav .btn-account .account-initial {
  background-color: #4DABB3;
  height: 36px;
  width: 36px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.collectHighlight-body .btn-container {
  display: flex;
  width: 23em;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Manrope';
}

.collectHighlight-body .btn-container .header-btns {
  margin-right: 12px;
}

.collectHighlight-body .btn-container .btn-continue {
  background-color: rgb(57, 57, 70);
  padding: 0px 12px;
  border-radius: 6px;
  color: white;
  display: flex;
  transition: background-color .5s;
}

.collectHighlight-body .btn-container .btn-continue:hover {
  background-color: rgb(57, 57, 70, .6);
}

.collectHighlight-body .btn-container .btn-library{
  margin-top: auto;
  margin-bottom: auto;
}

.search-box {
  width: 50%;
  display: flex;
}

.search-box #collectHighlightSearchInput {
  width: 80%;
  height: 50%;
  margin: auto;
  font-family: 'Noto Sans KR';
  padding-left: 10px;
}

.search-box #collectHighlightSearchInput:focus {
  outline: none;
}


/* 아래는 미디어 쿼리 */

@media (max-width: 940px) {
  .btn-account, .btn-library {
    display: none!important;
  }

  .btn-continue {
    height: 2em;
  }
  
  .collectHighlight-body .btn-container {
    justify-content: flex-end;
  }
}

/* 아래는 화면 전환 효과 */

html {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
