.library-body nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 2.5em;
    width: 100%;
    box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .landingpage-body nav img {
    height: 2.5em;
    margin-left: 30px;
  }






.landingpage-body {
    font-family: Noto Sans, sans-serif;
    margin: 0;
    overflow: hidden;
}

*, :after, :before {
    box-sizing: border-box;
}

.section-container {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.section-container .landingPage-section-01 {
    width: 55vw;
    height: 100vh;
    background-color: #f6f8fa;
}

#landingPage-section-01-title {
    font-weight: 700 !important;
    font-size: 28px;
    margin-top: 80px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#mainimg-id01 {
    width: 80%;
    position: relative;
    top: 30px;
    left: -20px;

    border-radius: 8px;
}

#mainimg-id02 {
    width: 50%;
    position: relative;
    top: -13vh;
    left: 25vw;

    border-radius: 8px;
}

.section-container .landingPage-section-02 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 45vw;
}

.section-container .landingPage-section-02 .signUp-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left!important;

    margin: auto;
    left: 0;
    width: 400px;
    height: 537px;

    /* position: relative;
    top: 15vh; */
}

.section-container .landingPage-section-02 .signUp-box .header-box {
    display: flex;
    text-align: left;
    width: 320px;
}

.section-container .landingPage-section-02 .signUp-box .header-box .header {
    font-family: Noto Sans, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: left !important;
}

.section-container .landingPage-section-02 .signUp-box .social-login {
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

.section-container .landingPage-section-02 .signUp-box .social-login .grey-border-btn-google-signup {
    width: 320px;
    height: 48px;
    text-decoration: none;

    border-radius: 8px;
    border: 1px solid #dde1e7;
    background-color: #fff;
    color: #787d86;

    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-container .landingPage-section-02 .signUp-box .social-login :hover {
    background-color: #eef1f4!important;
}

#logo-google {
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.4px;
    color: #787d86;
    margin-right: 16px;
}

.section-container .landingPage-section-02 .signUp-box .social-login .grey-border-btn-google-signup .signup-with-google {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.4px;
    color: #787d86;
}

.section-container .landingPage-section-02 .signUp-box .border {
    margin: 24px 0px;
    display: flex;
    align-items: center;
}

.section-container .landingPage-section-02 .signUp-box .border .line {
    width: 130px;
    border-bottom: 1px solid #dde1e7;
}

.section-container .landingPage-section-02 .signUp-box .border .or {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -.35px;
    text-align: center;
    color: #b0b4bd;
    margin: 0 16px;
    width: 30px;
}

.section-container .landingPage-section-02 .signUp-box .email-login {
    width: 320px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-container .landingPage-section-02 .signUp-box .email-login .email-container {
    padding-top: 8px;
}

.section-container .landingPage-section-02 .signUp-box .email-login .email-container .email {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    border-radius: 8px;
    background-color: #f6f8fa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333;
    border: none;
}

.section-container .landingPage-section-02 .signUp-box .email-login .password-container {
    padding-top: 8px;
}

.section-container .landingPage-section-02 .signUp-box .email-login .password-container .password {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    padding-right: -10px;
    border-radius: 8px;
    background-color: #f6f8fa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333;
    border: none;
}

.section-container .landingPage-section-02 .signUp-box .email-login .name-container {
    padding-top: 8px;
}

.section-container .landingPage-section-02 .signUp-box .email-login .name-container .name {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    padding-right: -10px;
    border-radius: 8px;
    background-color: #f6f8fa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333;
    border: none;
}

.section-container .landingPage-section-02 .signUp-box .email-login .signup-btn {
    margin: 16px 0 40px;
    width: 100%;
    height: 48px;
    font-family: "Montserrat","Noto Sans KR","Noto Sans JP","Noto Sans SC",sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #222931;
    color: #fff;
    border: none;
}

.section-container .landingPage-section-02 .signUp-box .email-login .signup-btn:hover {
    background-color: #222931e0!important;
}

.section-container .landingPage-section-02 .signUp-box .detail {
    text-decoration: #222931;
}

.section-container .landingPage-section-02 .signUp-box .detail .detail-signin {
    color: black;
    font-weight: 500;
}

.section-container .landingPage-section-02 .signUp-box .detail .detail-signin:hover {
    font-weight: 900!important;
}