/* library, viewer의 body 각각에 클래스명을 주어서 같은 듯 다르게 적용할 수 있게 하였습니다. */

.viewer-body {
  margin: 0;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column; 
}

.viewer-body nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 2.5em;
  width: 100%;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.viewer-body nav img {
  height: 2.5em;
  margin-left: 30px;
}

.viewer-body nav .search-box{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 2em;
}

.viewer-body nav .btn-container {
  display: flex;
  justify-content: space-between;
  width: 15em;
  margin-right: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

#viewerSearchInput {
  width: 100%;
  height: 80%;
  border: 0;
}

#viewerSearchInput:focus{
  outline: none;
}

.book-view {
  width: 100vw;
  height: calc(100vh - 20px - 2.5em);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5f5f5f;
}

.book-view .page {
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
  height: 85%;
  width: 42%;
  padding: 2em;
  background-color: white !important;
}

.view-tools {
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
  position: absolute;
  bottom: 3em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 1em 5em;
  background-color: white!important;
  width: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.view-tools .btn-prepage {
  width: 100%;
  height: 100%;
}

.thumbnail-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-row-gap: 2em;
  width: 89%;
  height: 89%;
  place-items: center;
  overflow: auto;
  margin: 2em 0;
}

/* .thumbnail-container::-webkit-scrollbar {
  display: none;
} 
혹시 modal의 스크롤바를 안보이게 하는 게 낫다면 사용할 수 있는 기능입니다.
*/

.thumbnail-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 80vh;
  background-color: #5f5f5f;
  border-radius: 2em;
  flex-direction: column;
  align-items: center;
  display: none;
}

.modal-nav {
  width: 89%;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0;
  border-bottom: 1px solid white;
}

.modal-nav span {
  color: blue;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-nav .container-changer {
  display: flex;
  flex-direction: row;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
  background-color: #8c8c8c;
  padding: 0.2em;
  border-radius: 0.2em;
  width: 25%;
  justify-content: space-around;
}

.modal-nav .container-changer span {
  color:white;
  font-weight: 400;
  padding: 0.1em;
  border: 1px solid #fafafa;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.thumbnail-number {
  text-align: center;
  color: white;
  font-weight: bold;
}

::selection {
    background: #f00;
    color: #fff;
}

#share-btn {
    width: 3rem;
    height: 1.75rem;
    font-size: 0.7rem;
    position: absolute;
    z-index: 10;
    display: none;
    border: 1px solid burlywood;
    transition: color 0.2s, background-color 0.2s ease-in-out;
    top : 0;
    left: 0;
    /* pointer-events: none; */
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    z-index: 11;
    top : 5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

#share-btn:hover {
    background-color : darkorchid;
}

.highlight-toggle {
  border-radius: 1.7em;
  width: 1.7em;
  height: 1.7em;
  position: absolute;
  left: 30em;
  bottom: 10em;
  border: 1px solid black;
  z-index: 9999;
  padding: 0.2em;
  background-color: white;
  border: 1px solid #fafafa;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
}

.highlight-toggle-02 {
  border-radius: 2em;
  display: flex;
  justify-content: space-around;
  width: 7em;
  height: 1.5em;
  position: absolute;
  left: 10em;
  bottom: 10em;
  background-color: white;
  padding: 0.3em 1em;
  border: 1px solid #fafafa;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
}

.highlight-functions .toggle-btn {
  height: 100%;
}

.highlight-toggle-03 {
  border-radius: 2em;
  display: flex;
  justify-content: space-around;
  width: 5em;
  height: 1.5em;
  position: absolute;
  left: 20em;
  bottom: 10em;
  background-color: white;
  padding: 0.3em 1em;
  border: 1px solid #fafafa;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
}

.toggle-memobox {
  position: absolute;
  left: 45em;
  bottom: 10em;
  outline: 0;
  font-family: inherit;
  border-top: 0.7em solid #93e7de;
  border-radius: 0.5em;
  padding: 1em;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
  resize: none;
}

/* 아래는 화면 전환 효과 */

html {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
