asgiref==3.4.1
awsebcli==3.20.0
botocore==1.20.101
cement==2.8.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.3
Django==3.2.5
django-appconf==1.0.4
django-compressor==2.4.1
django-sass-processor==1.0.1
future==0.16.0
idna==2.10
importlib-metadata==4.6.4
jmespath==0.10.0
libsass==0.21.0
pathspec==0.5.9
pdf2image==1.16.0
Pillow==8.3.1
poppler-utils==0.1.0
PyPDF2==1.26.0
pypiwin32==223
python-dateutil==2.8.1
pytz==2021.1
pywin32==301
PyYAML==5.4.1
rcssmin==1.0.6
requests==2.25.1
rjsmin==1.1.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.1
termcolor==1.1.0
typing-extensions==3.10.0.0
urllib3==1.25.11
wcwidth==0.1.9
zipp==3.5.0
